.conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    .barra-progresso{
         position: sticky;
         width: 100%;
         top: 1px;
         display: flex;
         justify-content: center;
         align-items: center;
         .botao-voltar{
            width: 30px;
         }
        
    }
    .campos-informedados{

        width: 100%;
        flex-direction: row;
        border: 0px;
        margin-top: 50px;

        .campo-um-input{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 40px;
            margin-top: 10px;
        }

        .linha{
            border-width: 1px;
            display: flex;
            width: 100%;
            margin-top: 10px;
            justify-content: space-between;
            outline: none;

            
            input{
                font-size: 16px;
                margin-left: 5px;
                
                padding-left: 10px;
            }
            input:focus{
                outline: none;
            }

            input:focus::placeholder{
                color: transparent;
            }
        }
        .campo{
            padding: 0;
            margin-top: 10px;
            height: 40px;
            width: 45%;
            outline: 0;
        }
        .campo-um-input{
            input::placeholder{
                transform: translateY(-10px);
                transform: translateX(-10px);
            }
                        
            input{
                transform: translateY(-10px);
                transform: translateX(-10px);
                font-size: 16px;
            }
        }
       
    }
    .botao{
        border: 0;
        width: 100%; 
        background-color: #CE8EFE;
        margin-top: 20px;
        height: 40px;
    }
    .botao:hover{
        animation-name: botao-hover;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .erro{
        font-size: 10px;
        color: red;
        position: absolute;
        margin-top: 50px;

    }
    .dt{
        p{
            position: absolute;
            margin: 0;
            font-size: 10px;
            transform: translateX(10px) translateY(-5px);

        }
        height: 45%;
        width: 45%;
    }
    
    @keyframes botao-hover {
        0%{
            background-color: #CE8EFE;
        }
        100%{
            background-color: #ae33ff;
        }
    }

}

@media (max-width: 830px) {
    .conteudo{
        .msg-informe{
            font-size: 25px;
        }
        .dt{
            width: 100%;

        }
        .dtnascimento{
            width: 100%;
        }

        .campos-informedados{
            .linha{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            .campo{
                margin-top: 16px;
                border-radius: 10px;
                height: 70px;
                width: 100%;

            }
            .campo-um-input{
                border-radius: 10px;
                height: 70px;
                margin-top:15px;
            }
            .erro{
                font-size: 15px;
                color: red;
                position: absolute;
                margin-top: 80px;
            }

    }
}

}
.conteudo-passo2{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 0 20px;
    
        .opcoes-data{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
        .campos-informedados{
            display: flex;
            height: fit-content;
            width: 100%;
            flex-direction: column;
            align-items: center;
            border: 0px;
            margin-top: 50px;
            

            .campo-email{
                input::placeholder{
                    transform: translateX(5px);
                }
                gap: 5px;
                
            }
            input:focus{
                outline: none;
            }
            input::placeholder{
                transform: translateY(-10px);
               padding-left: 5px;
            }
            input:focus::placeholder{
                color: transparent;
            }
    
            .debito-automatico{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }
            .campo-um-input{
                border-width: 1px;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 40px;
                margin-top: 10px;

            }
            .campo{
                display: flex;
                justify-content: center;
                padding: 0;
                margin-top: 10px;
                height: 40px;
                width: 45%;
            }
    
            .campo-input-radio{
                display: flex;
                gap: 40px;
       
                justify-content: space-around;
                .input-radio{
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }
            }
    
            .info-endereco{     
                      
                width: 100%;
                
                .linha-info-endereco{
                    padding: 0;
                    margin-top: 5px;
                    border: 1px solid; 
                    background-color: #D0D0D0;
                    height: 60px;
                    gap: 0;
                    .nome-linha{
                        background-color: #D0D0D0;
                        font-size: 14px;
                        opacity: 60%;
                    }
                    p{
                        margin: 0;
                        margin-left: 5px;
                        margin-top: 5px;
                    }
    
                }
     
            }
    
        }
        .campo-tipo-residencia{
            gap: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .complemento{
                
                width: 100%;
                height: 40px;
            }   
        }
        .bank-data-form {
            .form-group {
              margin-bottom: 15px;
          
              label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
              }
          
              select,
              input {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
              }
            }
          }
    }

    @media (max-width: 830px) {
        .conteudo-passo2{
            .opcoes-data{
                select{
                    align-self: center;
                    height: 50px;
                    width: 300px;
                    text-align: center;
                    option{
                        text-align: center;
                    }
                }
            }
            .campos-informedados{
                .linha{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }
                .campo{
                    margin-top: 16px;
                    border-radius: 10px;
                    height: 70px;
                    width: 100%;
    
                }
                .campo-um-input{
                    border-radius: 10px;
                    height: 70px;
                    margin-top:15px;
                }
                .erro{
                    font-size: 15px;
                    color: red;
                    position: absolute;
                    margin-top: 80px;
                }
            }
        }
        }

    

.conteudo-passo3{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;

    margin: 0 20px;

        .opcoes-instalacao{
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .opcao-instalacao{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                input{
                    height: 40px;
                    padding: 10px;
                }
            }
        
        .botao{
            border: 0;
            width: 100%; 
            background-color: #CE8EFE;
            margin-top: 20px;
            height: 40px;
        }
    }

}
