.conteudo-crm{
    display: flex;
    flex-direction: column;

    .dados-crm{
        display: flex;
        flex-direction: row;
        .opcoes-esquerda{
            background-color: red;
        }
    }
}